FROM python:3.11-slim

WORKDIR /app

ENV DATABASE_URL=sqlite:////app/storage/verirag.db
ENV HF_HOME=/root/.cache/huggingface
ENV TRANSFORMERS_CACHE=/root/.cache/huggingface
ENV HF_HUB_DISABLE_TELEMETRY=1

RUN apt-get update && \
    apt-get install -y --no-install-recommends tesseract-ocr libgl1 && \
    rm -rf /var/lib/apt/lists/*

COPY requirements.txt .

RUN pip install --no-cache-dir -r requirements.txt

# Download the embedding model during Docker build.
# This prevents Render from trying to contact Hugging Face
# when the first document is uploaded.
RUN python -c "from sentence_transformers import SentenceTransformer; SentenceTransformer('sentence-transformers/all-MiniLM-L6-v2')"

COPY app ./app

COPY .env.example ./.env

RUN mkdir -p storage/documents storage/indexes

EXPOSE 8000

CMD ["uvicorn","app.main:app","--host","0.0.0.0","--port","8000"]